.container {
  background: beige;
  height: 100vh;
  display: flex;
}

.item {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.item1 {
  background: red;
  flex: 2 2 auto;
  align-self: center;
}
.item2 {
  background: blue;
}
.item3 {
  background: green;
}
