* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono';
  font-size: 1em;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0.5em 0.5rem;
  max-width: 1000px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.5em 0;
  padding: 0;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
}

.hearderbar {
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
  justify-content: space-between;
  padding: 0.5em 0.5rem;
  color: white;
}

.hearderbar div {
  padding: 0.25em;
}

.hearderbar .logo {
  display: flex;
  flex-flow: row nowarp;
  justify-content: space-between;
  align-items: center;
}

.hearderbar .logo .logoicon {
  color: red;
}

.hearderbar .menu {
  display: flex;
  flex-flow: row nowarp;
  justify-content: space-between;
  align-items: center;
}

.videocontent {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  max-width: 1000px;
  max-height: 700px;
}

.videocontent iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 700px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
}

.content .infocontent {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5em 0.5rem;
}

.content .infocontent .tags {
  color: lightskyblue;
  font-size: 0.75em;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

.content .infocontent .titlearea {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.content .infocontent .titlearea .title {
  width: 100%;
  margin-right: 1em;
}

.content .infocontent .titlearea .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.content .infocontent .titlearea .more {
  transition: transform 300ms ease-in-out;
}

.content .infocontent .titlearea .more.clicked {
  transform: rotate(180deg);
}

.content .infocontent .view {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.5em;
}

.content .infocontent .actionarea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: grey;
  margin-top: 1em;
  list-style: none;
}

.content .infocontent .actionarea .active i {
  color: skyblue;
}

.content .infocontent .actionarea li button {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 0.75em;
}

.content .infocontent .authorarea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content .infocontent .authorarea .author {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content .infocontent .authorarea .author .authorinfo {
  font-size: 0.75em;
}

.content .infocontent .authorarea .author .authorinfo .authorname {
  font-size: 1.5em;
  font-weight: bold;
}

.content .infocontent .authorarea .author .authorinfo .subcount {
  font-size: 0.5em;
}

.content .infocontent .authorarea .author .pic {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin-right: 1em;
}

.content .infocontent .authorarea .author .pic img {
  border-radius: 50%;
  width: 2em;
  height: 100%;
}

.content .infocontent .authorarea .subscribe button {
  color: red;
}

.content .nextlist {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5em 0.5rem;
}

.content .nextlist .upnext {
  font-size: 0.75em;
  margin-bottom: 0.5em;
}

.content .nextlist .videolist {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
}

.content .nextlist .videolist li .listbox {
  display: flex;
  flex-flow: row nowrap;
}

.content .nextlist .videolist li .listbox .listcontent {
  margin-left: 1em;
}

.content .nextlist .videolist li .listbox .listcontent .listtitle {
  font-size: 1em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: 1em;
}

.content .nextlist .videolist li .listbox .listcontent .listauthor {
  font-size: 0.5em;
}

.content .nextlist .videolist li .listbox .listcontent .listviewcount {
  font-size: 0.5em;
}

@media screen and (min-width: 768px) {
  .content {
    flex-direction: row;
  }
}
